.acountinfbox {
    width: 200px;
    height: 285px;
    background-color:  white;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px 32px  rgba(82, 78, 78, 0.278);
    position: absolute;
    right: 10px;
    top: 80px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.acountinfbox.openmenu {
    max-height: 300px;
}

.acountinfbox div {
    text-align: center;
    margin-top: 20px;
}
a {
    text-decoration: none;
}
.acountboxavaterlink {
    text-decoration :none;
    color : white;
    text-transform: capitalize;
    background-color :#566dc5;
    border-radius :50%;
    padding: 15px;
    padding-right :20px;
    padding-left :20px;
    font-weight :600;
}
.acountboxavatar {
    padding-top: 30px;
}
.acountboxnamelink {
    color: black;
    
}
.acountboxname {
    padding-top: 12px;
}
.setandout a{
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    font-size: 15px;
    text-decoration: none;
    background-color: #566dc5;
    color: white;
    
}
.setandout {
    padding-top: 10px;
}
.setandout div {
    padding-top: 15px;
}
