body {

}
.createlinkdiv {
    position: absolute;
    right: 12%;
    top: 4%;
}
.createlink{
    padding: 12px;
    border-radius: 25px;
    font-size: 15px;
    text-decoration: none;
    background-color: #566dc5;
    color: white;
    font-weight: 700;
}
table {
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 26%;
    left: 6.2%;
    /*width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  */
}
tbody {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 25px;
    
}
tbody tr{
    width: 240px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px 32px  rgba(82, 78, 78, 0.278);
}

tr td{
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    margin-top: 10px;
    font-weight: 500;
}
tr td span {
    color: #566dc5;
    font-weight: 700;
}
tr td a {
    display: block;
}
.cardlinks a{
    padding: 8px;
    border-radius: 25px;
    font-size: 15px;
    text-decoration: none;
    background-color: #566dc5;
    color: white;
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin-top: 8px;
}
.cardlinks {
    margin-top: 45px;
    margin-left: 45px;
}
.cardimg {
    padding-top: 30px;
    height: 110px;
    width: 80;
    justify-content: center;
}
.cardimg img {
    width: 120px;
    height: 120px;
}
tbody {
    margin-bottom: 100px;
}
.cardimg {
    display: flex;
    align-items: center;
}